.vs/
.vscode/

bin/
obj/
_buildcheck/

*.user
*.suo
*.cache
*.pdb
*.ilk
*.log

*.db
*.opendb

*.WebView2/
EBWebView/
Crashpad/
BrowserMetrics/
Snapshots/
ShaderCache/
GrShaderCache/
GraphiteDawnCache/
DawnGraphiteCache/
DawnWebGPUCache/

TestResults/
packages/**/packageIcon.png
packages/**/README.md

*.tmp
*.bak
*.old
*.pyc
__pycache__/
